--- 
# Feel free to add content and custom Front Matter to this file. 
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: page
title: About
permalink: /about/
---

<section class="page-title" style="background-image: url({% asset ggb.jpg @path %})">
  <div class="overlay" style="background-color:rgba(63,81,181,0.52);"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
           Built by the world’s top swift developers.
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Meet Our Team</h2>
        <h3>Based on GitHub stars, our team ranked in the top 20 swift engineers in SF. (<a href="https://github-awards.com/users?utf8=%E2%9C%93&type=country&language=swift&country=San+Francisco">Github Awards</a>)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg col-sm-6 col-12">
        <div class="member">
          {% asset dilek-dundaralp.jpg !type alt="Dilek DUNDARALP" %}
          <p class="name">Dilek DUNDARALP</p>
          <p class="title">UX DESIGNER</p>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-12">
        <div class="member">
          {% asset toygar-dundaralp.jpg !type alt="Toygar DUNDARALP" %}
          <p class="name">Toygar DUNDARALP</p>
          <p class="title">DEVELOPER</p>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-12">
        <div class="member">
          {% asset baris-sencan.jpg !type alt="Baris SENCAN" %}
          <p class="name">Baris SENCAN</p>
          <p class="title">ARCHITECT</p>
        </div>
      </div>
      <div class="col-lg col-sm-6 col-12">
        <div class="member">
          {% asset cem-olcay.jpg !type alt="Cem OLCAY" %}
          <p class="name">Cem OLCAY</p>
          <p class="title">ENGINEER</p>
        </div>
      </div>
      <div class="col-lg offset-lg-0 offset-sm-3 col-sm-6 col-12">
        <div class="member">
          {% asset sahin-boydas.jpg !type alt="Sahin BOYDAS" %}
          <p class="name">Sahin BOYDAS</p>
          <p class="title">FOUNDER</p>
        </div>
      </div>
    </div>
  </div>
</section>