--- 
# Feel free to add content and custom Front Matter to this file. 
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: page
title: Pricing
permalink: /pricing/
---

<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>MOBILEPLAYER 1.0 WILL BE FREE FOREVER.</h1>
        <p class="first-line">Skinning (branded and engaging videos) with <a href="https://mobileplayer.io/">MobilePlayer.io</a>MobilePlayer.io will always be completely free.</p>
        <p>Analytics and monetization will be a paid feature. We’re still working on the pricing plans but we strive​ to be affordable
        for individuals and teams of various sizes and needs. Please check back soon, or for further information please contact us
        at contact@mobileplayer.io</p>
      </div>
    </div>
  </div>
</section>