---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---

<section class="jumbotron" style="background-image: url({% asset jumbo.jpg @path %})">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="slider">
          <div class="slide-controls slide-prev">
            <i class="fa fa-chevron-left"></i>
          </div>
          <div class="slides">
            {% asset slider1.gif !type alt="Mobile Player Screenshots" %} 
            {% asset slider2.gif !type alt="Mobile Player Screenshots" %}
          </div>
          <div class="slide-controls slide-next">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="title text-center">
          <h1>A NATIVE MOBILE PLAYER SDK FOR ALL YOUR NEEDS</h1>
          <h2>OPEN SOURCE. MODERN. FULLY FEATURED. CUSTOMIZABLE.</h2>
        </div>
        <div class="cta-buttons">
          <a href="#" class="get-started-cta">Get Started</a>
          <div class="d-block d-sm-none clearfix"></div>
          <a href="#" class="learn-more-cta">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-tag"></i>
          </div>
          <div class="title">Branding</div>
          <div class="text">Customize your videos to increase your brand’s visibility by adding a watermark, customizing the player’s
            skin, and much more.
          </div>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-share-alt"></i>
          </div>
          <div class="title">Engagement</div>
          <div class="text">Add sharing easily and call your users to action by adding overlays to the beginning and end of your
            videos, and by showing timed overlays of any kind.</div>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-area-chart"></i>
          </div>
          <div class="title">Analytics</div>
          <div class="text">Use the callbacks provided for any kind of video event and tie in your analytics solution hassle-free.
            Built-in analytics support with a variety of analytics plugins is coming soon.</div>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="feature">
          <div class="icon">
            <i class="fa fa-money"></i>
          </div>
          <div class="title">Monetization</div>
          <div class="text">Coming soon.</div>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta" style="background-image: url({% asset cta-bg.jpg @path %})">
  <div class="overlay" style="background-color: rgba(0,0,0,0.8);"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>INTEGRATE IN MINUTES</p>
        <a href="#">Getting Started</a>
      </div>
    </div>
  </div>
</section>
<section class="companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>MOBILE PLAYER MADE FOR HOLLYWOOD<br>IS NOW AVAILABLE TO EVERY APP DEVELOPER</p>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset legendary.png !type alt="Legendary" %}
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset paramount.png !type alt="Paramount" %}
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset universal.png !type alt="Universal" %}
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset skydance.png !type alt="Skydance" %}
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset movielala.png !type alt="Movielala" %}
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <div class="d-flex logo-comp align-items-center justify-content-center">
          {% asset movielalat.png !type alt="Movielala Trailer App" %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="designs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Some of Our Designs</h2>
          <a href="#">More Information ></a>
        </div>
      </div>
      <div class="col-12">
        <h3 class="design-title">
          Skins
        </h3>
      </div>
      <div class="col-sm-6 col-12">
        <a href="{% asset facebook.jpg @path %}" data-lightbox="Skins">
          {% asset facebook.jpg !type alt="Facebook Skin" %}
        </a>
      </div>
      <div class="col-sm-6 col-12">
        <a href="{% asset hulu.jpg @path %}" data-lightbox="Skins">
          {% asset hulu.jpg !type alt="Hulu Skin" %}
        </a>
      </div>
      <div class="col-sm-6 col-12">
        <a href="{% asset netflix.jpg @path %}" data-lightbox="Skins">
          {% asset netflix.jpg !type alt="Netflix Skin" %}
        </a>
      </div>
      <div class="col-sm-6 col-12">
        <a href="{% asset youtube.jpg @path %}" data-lightbox="Skins">
          {% asset youtube.jpg !type alt="Youtube Skin" %}
        </a>
      </div>
      <div class="col-12">
        <h3 class="design-title">
          Post Roles
        </h3>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr1.jpg @path %}" data-lightbox="post">
          {% asset pr1.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr2.jpg @path %}" data-lightbox="post">
          {% asset pr2.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr3.jpg @path %}" data-lightbox="post">
          {% asset pr3.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr4.jpg @path %}" data-lightbox="post">
          {% asset pr4.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr5.jpg @path %}" data-lightbox="post">
          {% asset pr5.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset pr6.jpg @path %}" data-lightbox="post">
          {% asset pr6.jpg !type alt="Post Roles" %}
        </a>
      </div>
      <div class="col-12">
        <h3 class="design-title">
          Share Roles
        </h3>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr1.jpg @path %}" data-lightbox="share">
          {% asset sr1.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr2.jpg @path %}" data-lightbox="share">
          {% asset sr2.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr3.jpg @path %}" data-lightbox="share">
          {% asset sr3.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr4.jpg @path %}" data-lightbox="share">
          {% asset sr4.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr5.jpg @path %}" data-lightbox="share">
          {% asset sr5.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr6.jpg @path %}" data-lightbox="share">
          {% asset sr6.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr7.jpg @path %}" data-lightbox="share">
          {% asset sr7.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="{% asset sr8.jpg @path %}" data-lightbox="share">
          {% asset sr8.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 offset-lg-0 offset-sm-3 offset-0">
        <a href="{% asset sr9.jpg @path %}" data-lightbox="share">
          {% asset sr9.jpg !type alt="Share Roles" %}
        </a>
      </div>
      <div class="col-12">
        <p class="section-footer">Visit <a href="#">documentation page</a> for more skins.</p>
      </div>
    </div>
  </div>
</section>