<footer>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        {% asset logob.png !type alt="MobilePlayer Logo" %}
      </div>
      <div class="col-sm-6 col-12 text-sm-right">
        <strong>Quick Links</strong>
        <a href="{{ "/" | relative_url }}">Features</a>
        <a href="/about/">About</a>
        <a href="/pricing/">Pricing</a>
        <a href="https://github.com/mobileplayer/mobileplayer-ios#table-of-contents">Docs & Support</a>
      </div>
    </div>
  </div>
  <div class="footer-buttons">
    <a href="#">
      <i class="fa fa-envelope"></i>
    </a>
    <a href="#" class="scroll-top" style="display: none;">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</footer>
{%- include footer_assets.html -%}
