<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" href="{% asset faviconn.png @path %}">

  {%- seo -%}

  {%- include loadCSS.html -%}
    
<script>
  loadCSS('{% asset main.css @path %}');
</script>

  {%- include google-analytics.html -%}


  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

</head>
