<header class="main_menu">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-6">
        <a href="{{ "/" | relative_url }}" class="logo">
          {% asset logob.png !type alt="Mobileplayer Logo" %}
          {% asset logos.png !type alt="Mobileplayer Logo" %}
        </a>
      </div>
      <div class="col-lg-9 col-md-10 col-6">
        <ul class="menu">
          <li>
            <a href="{{ "/" | relative_url }}">Features</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/pricing/">Pricing</a>
          </li>
          <li>
            <a href="https://github.com/mobileplayer/mobileplayer-ios#table-of-contents">Documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="#" class="menu-icon d-md-none d-block">
    <i class="fa fa-bars"></i>
  </a>
  <div class="github-fork-ribbon-wrapper right d-md-block d-none" style="position: fixed;">
    <div class="github-fork-ribbon"><a href="https://github.com/mobileplayer/mobileplayer-ios" target="_blank">Fork me on GitHub</a></div>
  </div>
  <a href="https://github.com/mobileplayer/mobileplayer-ios" target="_blank" class="fork d-md-none d-block">
    <i class="fa fa-github"></i>
  </a>
</header>