---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.css');
@import url('https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/lightbox2@2.10.0/dist/css/lightbox.min.css');
@import "style";