// RESET CSS

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big,  cite, code,
del, dfn, em, img, ins,  kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    font-size: 100%;
    vertical-align: baseline;
    letter-spacing: .7px;
    -webkit-font-smoothing: antialiased;
    font-family: Open\ Sans;
}

a{
  color: #3f51b5;
}

a:hover{
    text-decoration: inherit;
    color:inherit;
}

input:focus, button:focus {
    outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 0;
    overflow-x: hidden;
    padding-top: 100px;
}
body::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar-track {
    display: none;
}
body::-webkit-scrollbar-thumb {
    display: none;
}
body::-webkit-scrollbar-thumb:hover {
    display: none;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// END RESET CSS

// GENERAL

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// END GENERAL

// HEADER

header{
  background-color: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
header .logo {
  display: block;
  line-height: 100px;
  height: 100px;
  width: 200px;
}
header .logo img{
  height: 100px;
  display: block;
}
header .logo img:first-child{
  display: block;
}
header .logo img:nth-child(2){
  display: none;
}
header .menu li{
  display: inline-block;
  float: left;
  height: 100px;
  line-height: 100px;
}
header .menu li:hover{
  border-top: 5px solid #fff;
  height: 95px;
  line-height: 95px;
}
header .menu li a{
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 30px;
}
header.scrolled .logo{
  height: 60px;
  width: 110px;
}
header.scrolled .logo img{
  height: 60px;
}
header.scrolled .logo img:first-child{
  display: none;
}
header.scrolled .logo img:nth-child(2){
  display: block;
}
header.scrolled .menu li{
  height: 60px;
  line-height: 60px;
}
header.scrolled .menu li:hover{
  border-top: 5px solid #fff;
  height: 55px;
  line-height: 55px;
}
.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none;
}
.github-fork-ribbon-wrapper.right {
    right: 0;
}
.github-fork-ribbon {
  position: absolute;
  padding: 2px 0;
  background-color: #a00;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.15)));
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.15));
  background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.15));
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
  font: 700 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  z-index: 9999;
  pointer-events: auto;
}
.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.github-fork-ribbon a, .github-fork-ribbon a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  text-align: center;
  width: 200px;
  line-height: 20px;
  display: inline-block;
  padding: 2px 0;
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255,255,255,.7);
}
.github-fork-ribbon>a {
    color: #fff!important;
}
@media (max-width: 1199.98px) {
  header .menu li a{
    font-size: 15px;
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  header .logo img{
    height: unset;
    width: 100%;
  }
  header .menu li a{
    font-size: 15px;
    padding: 0 7.5px;
  }
  header .logo {
    display: flex;
    align-items: center;
    width: 100%;
  }
  header .logo img:first-child{
    display: none;
  }
  header .logo img:nth-child(2){
    display: block;
  }
}
@media (max-width: 767.98px) {
  header .menu{
    display: none;
    position: fixed;
    float: unset;
    width: 100vw;
    background-color: #3f51b5;
    top: 100px;
    left: 0;
  }
  header.scrolled .menu{
    top: 60px;
  }
  header .menu li{
    height: 50px;
    line-height: 50px;
    display: block;
    width: 100%;
    text-align: center;
  }
  header .menu li:hover, header.scrolled .menu li:hover{
    border: unset;
    height: 50px;
    line-height: 50px;
  }
  header .menu li a{
    line-height: 50px;
    height: 50px;
    display: block;
  }
  header .logo img:first-child{
    display: block;
  }
  header .logo img:nth-child(2){
    display: none;
  }
  .fork{
    background-color: #a00;
    width: 45px;
    height: 45px;
    left: 15px;
    bottom: 15px;
    position: fixed;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 24px;
  }
  header .menu-icon{
    width: 60px;
    height: 60px;
    right: 0px;
    top: 20px;
    line-height: 60px;
    position: fixed;
    color: #fff;
    font-size: 26px;
    text-align: center;
  }
  header.scrolled .menu-icon{
    top: 0px;
  }
}
@media (max-width: 575.98px) {

}
// END HEADER

// INDEX

.jumbotron{
  padding: 0 0 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider{
  margin: 40px 0;
  height: 450px;
}
.slide-controls{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  cursor: pointer;
  float: left;
  height: 100%;
  font-size: 40px;
  color: #fff;
}
.slides{
  width: calc(100% - 160px);
  display: inline-block;
  float: left;
}
.slides img{
  width: 100%;
}
.jumbotron .title{
  color: #fff;
  line-height: 30px;
  margin: 50px 0;
}
.jumbotron .title h1{
  font-weight: 700;
  font-size: 24px;
}
.jumbotron .title h2{
  font-weight: 300;
  font-size: 20px;
}
.cta-buttons{
  display: flex;
  justify-content: center;
}
.cta-buttons a{
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 40px;
  border-radius: .286rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.get-started-cta{
  background-color: #3f51b5;
}
.get-started-cta:hover{
  background-color: #333;
}
.learn-more-cta{
  border: 2px solid #fff;
  line-height: 51px;
}
.learn-more-cta:hover{
  background-color: #fff;
  color: #3f51b5;
}
.features{
  padding: 80px 0;
  background-color: #fff;
}
.feature{
  text-align: center;
  padding: 0 15px;
}
.feature .icon{
  width: 80px;
  height: 80px;
  border: 2px solid #e5e5e5;
  color: #3f51b5;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 76px;
  font-size: 30px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 15px;
}
.feature .icon i{
  text-align: center;
}
.feature .icon:hover{
  border: 2px solid #3f51b5;
  background-color: #3f51b5;
  color: #fff;
}
.feature .title{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.feature .text{
  line-height: 20px;
  color: #808080;
  font-size: 14px;
  margin-bottom: 30px;
}
.feature .button{
  border: 2px solid #3f51b5;
  border-radius: .286rem;
  color: #3f51b5;
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 40px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.feature .button:hover{
  color: #fff;
  background-color: #3f51b5;
}
.cta{
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cta p{
  line-height: 40px;
  font-size: 36px;
  color: #fff;
}
.cta a{
  height: 55px;
  line-height: 55px;
  width: 220px;
  display: block;
  margin: 15px auto 0;
  background-color: #3f51b5;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .286rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cta a:hover{
  background-color: #fff;
  color: #3f51b5;
}
.companies{
  padding: 80px 0;
}
.companies p{
  text-align: center;
  line-height: 40px;
  font-size: 28px;
  margin-bottom: 50px;
  color: #333;
  font-weight: 300;
}
.logo-comp{
  height: 100px;
}
.designs{
  background-color: #eee;
  padding: 40px 0;
}
.designs .section-title{
  text-align: center;
  margin-bottom: 30px;
}
.designs .section-title h2{
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}
.designs .section-title a{
  font-size: 18px;
  line-height: 30px;
}
.design-title{
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 15px;
}
.designs img{
  margin-bottom: 15px;
}
.section-footer{
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 15px 0;
}
@media (max-width: 1199.98px) {
  .slider{
    height: 360px;
  }
  .features {
    padding: 60px 0;
    background-color: #fff;
  }
  .cta {
    height: 400px;
  }
}
@media (max-width: 991.98px) {
  .slider{
    height: 250px;
  }
  .features {
    padding: 60px 0;
    background-color: #fff;
  }
  .cta {
    height: 320px;
  }
  .feature{
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .slides{
    width: calc(100% - 120px);
  }
  .slider{
    height: 180px;
  }
  .slide-controls{
    width: 60px;
    font-size: 30px;
  }
  .jumbotron .title {
    color: #fff;
    line-height: 30px;
    margin: 30px 0;
  }
  .jumbotron .title h1{
    font-size: 18px;
  }
  .jumbotron .title h2{
    font-size: 16px;
  }
  .companies p {
    font-size: 23px;
  }
}
@media (max-width: 575.98px) {
  .slides{
    width: calc(100% - 60px);
  }
  .slider{
    height: calc(100% - 30px);
  }
  .slide-controls{
    width: 30px;
    font-size: 24px;
  }
  .cta{
    height: 250px;
  }
  .cta-buttons{
    justify-content: unset;
    align-items: center;
    flex-direction: column;
  }
  .cta-buttons a{
    margin: 7.5px 0;
  }
  .cta p{
    font-size: 24px;
  }
  .companies p {
    font-size: 16px;
  }
  .slides img{
    width: 100%;
  }
}
// END INDEX

// ABOUT US

.page-title{
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page-title h1{
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-weight: 300;
}
.team{
  padding: 80px 0;
  background-color: #fff;
}
.team h2{
  text-align: center;
  color: #333;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 30px;
}
.team h3{
  text-align: center;
  color: #808080;
  font-size: 20px;
  line-height: 30px;
}
.member{
  text-align: center;
  margin-top: 60px;
}
.member img{
  display: block;
  width: 180px;
  margin: 0 auto 15px;
}
.member .name{
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.member .title{
  font-size: 18px;
  color: #808080;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 1199.98px) {
 
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .page-title h1{
    font-size: 36px;
  }
}
@media (max-width: 575.98px) {
  .page-title h1{
    font-size: 28px;
  }
}

// END ABOUT US

// PRICING
.pricing{
  padding: 40px 0;
}
.pricing h1{
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.pricing p{
  font-size: 18px;
  line-height: 30px;
  color: #808080;
}
.pricing .first-line{
  margin-bottom: 30px;
}
@media (max-width: 1199.98px) {
 
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {

}

// END PRICING

// CONTACT

@media (max-width: 1199.98px) {
 
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {

}

// END CONTACT

// TERMS



// END TERMS

// FOOTER

footer{
  padding: 40px 0;
  background-color: #000;
}
footer strong{
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  display: block;
}
footer a{
  display: block;
  line-height: 30px;
  color: #e5e5e5 !important;
  font-size: 16px;
  font-weight: 300;
}
footer a:hover{
  color: #3f51b5 !important;
}
.footer-buttons{
  position: fixed;
  bottom: 15px;
  right: 30px;
}
.footer-buttons a{
  background-color: #00000080;
  display: inline-block;
  color: #fff;
  height: 45px;
  line-height: 45px;
  width: 45px;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 5px;
  font-size: 20px;
}
.footer-buttons a:hover{
  background-color: #3f51b5;
  color: #fff !important;
}
@media (max-width: 1199.98px) {
 
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .footer-buttons{
    right: 15px;
  }
}
@media (max-width: 575.98px) {
  footer{
    text-align: center;
  }
}

// END FOOTER